nav.sticky.w-full.top-0.z-10.topnav
  .container.m-auto
    .flex.justify-between.py-3
      a(href="#")
        img(src="assets/img/nsc_logo.png", alt="Nassidjcom", srcset="")
      span
        button.burger(data-target="sidenav")
          i.fas.fa-bars.self-center